services:
  - type: web
    name: flame-smoke-status
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
